@tailwind base;
@tailwind components;
@tailwind utilities;

.sub-heading {
  @apply text-center lg:text-3xl font-semibold text-[#98FEF8];
}
.heading {
  @apply text-center lg:text-5xl text-xl font-semibold text-[white];
}
.typography {
  @apply text-center lg:text-5xl text-2xl font-semibold text-[#00A59B];
}

.bg-blob {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23FF0066' d='M44.8,-70.6C55.8,-62.6,60.8,-46.4,68.2,-30.9C75.5,-15.5,85.1,-1,86.7,14.9C88.2,30.8,81.7,48,69.8,58.9C57.9,69.8,40.6,74.4,23.5,78.9C6.4,83.4,-10.3,87.8,-24.7,83.7C-39.1,79.7,-51.2,67.2,-62.9,54.2C-74.7,41.2,-86.1,27.6,-86.6,13.5C-87.1,-0.7,-76.6,-15.5,-67.9,-29.5C-59.2,-43.6,-52.2,-56.9,-41.1,-64.8C-30.1,-72.8,-15.1,-75.3,0.9,-76.8C16.9,-78.2,33.8,-78.5,44.8,-70.6Z' transform='translate(100 100)' /%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
*{
  scroll-behavior: smooth;
}
.bg-grid {
  background-image: 
    linear-gradient(to right, rgba(226, 211, 211, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 120px 120px; /* Adjust the size of the grid cells */
  pointer-events: none; /* Ensures it doesn’t interfere with content */
}
.bg-grid-banner {
  background-image: 
    linear-gradient(to right, rgba(226, 211, 211, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 150px 150px; /* Adjust the size of the grid cells */
  pointer-events: none; /* Ensures it doesn’t interfere with content */
}
